#burger-menu {
  position: fixed;
  top: 38px;
  inset-inline-start: -100%;
  height: 100vh;
  padding: 40px 24px;
  z-index: 9999;
  overflow-y: auto;
  background: var(--top-navigation--background, $dark-blue);

  &.open {
    inset-inline-start: 0;
    transition: inset-inline-start 0.2s ease-out;

    @supports not (inset-inline-start: 0) {
      transform: translateX(0);
      transition: transform 0.2s ease-out;

      html[dir="rtl"] & {
        transform: translateX(0);
      }
    }

    ~ .top-navigation-overlay {
      display: block;

      @include large-and-up {
        display: none;
      }
    }
  }

  a.nav-link {
    font-size: 24px;
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
  }

  & > nav {
    padding-top: 4px;
  }

  & > nav > ul {
    list-style-type: none;
    margin: 0;
    padding-inline: 0 0;
    text-align: start;
  }

  .accordion-menu {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    padding-inline-start: 20px;

    a.nav-link {
      font-size: 20px;
      font-weight: 400;
    }

    &.show {
      max-height: 1000px;
      transition: max-height 0.5s ease-in;
    }
  }

  .admin-bar & {
    padding-bottom: 46px;
    top: 46px;

    @media (min-width: 783px) {
      padding-bottom: 32px;
      top: 32px;
    }
  }

  .nav-languages {
    width: 100%;

    ul {
      margin-inline: 0;
    }
  }

   @include small-and-less {
    width: 100vw;
    inset-inline-start: -100vw;

    @supports not (inset-inline-start: -100vw) {
      transform: translateX(-100vw);
      transition: transform 0.2s ease-out;

      html[dir="rtl"] & {
        transform: translateX(100vw);
      }
    }

    &.open {
      @supports not (inset-inline-start: 0) {
        transform: translateX(0);
        transition: transform 0.2s ease-out;

        html[dir="rtl"] & {
          transform: translateX(0);
        }
      }
    }
  }

  @include small-to-large {
    inset-inline-start: -400px;
    transition: inset-inline-start 0.2s ease-in;
    width: 400px;

    @supports not (inset-inline-start: -400px) {
      transform: translateX(-400px);
      transition: transform 0.2s ease-in;

      html[dir="rtl"] & {
        transform: translateX(400px);
      }
    }
  }

  @include large-and-up {
    display: none;
  }
}

.burger-menu-item {
  color: inherit;
  font-size: $font-base-size;
  font-weight: 700;
  width: 100%;

  .item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .collapsable-btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;

    &::before {
      content: "";
      height: 12px;
      width: 8px;
      display: inline-block;
      mask-image: url("../../images/chevron.svg");
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-repeat: no-repeat;
      background-color: currentColor;
      transform: rotate(90deg);
      transition: transform 0.3s linear;
    }

    &.show {
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
}

.nav-menu-close {
  background-color: var(--top-navigation--color, $white);
  border: none;
  display: block;
  height: 30px;
  width: 30px;
  inset-inline-end: 0;
  mask: url("../../images/cross.svg") 50% 50%/24px 24px no-repeat;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 5;

  @supports not (inset-inline-end: 0) {
    right: 0;
    left: auto;

    html[dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }
}

#burger-menu .top-side {
  margin-bottom: 8px;
}

#burger-menu .site-logo {
  margin-inline-start: 0;
  line-height: 1;
}

#burger-menu .site-logo img {
  height: 23px;
}

.top-navigation-overlay {
  display: none;
  background: $black;
  height: 100%;
  opacity: 0.5;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: calc(100% + 20px);
  z-index: 4;
}
